---
layout: default
title: "Research"
header_title: Research Publication
include_header: page_header.html
nav_item: Research
extra_scripts:
  - /assets/js/papers.js
---


<div class="project overview">
  <div id="myBtnContainer" class="flex flex-center">
    <!-- <button class="btn active" onclick="filterSelection('all')"> Show all {{site.data.projects.size}}</button> -->
    
    <button class="btn active" onclick="filterSelection('vis4ml')"> <i class="fa fa-fw fa-tag"></i> VIS4ML</button>
    <button class="btn active" onclick="filterSelection('ml4vis')"> <i class="fa fa-fw fa-tag"></i> ML4VIS</button>
    <button class="btn active" onclick="filterSelection('biomed')"> <i class="fa fa-fw fa-tag"></i> Visualization for BioMed </button>
    <button class="btn active" onclick="filterSelection('accessible')"> <i class="fa fa-fw fa-tag"></i> Accessible Visualization</button>
  </div>
  
</div>

{% for project in site.data.projects %}
      {% include project-outline.html project=project %}
{% endfor %}