---
layout: default
title: "Qianwen's Research"
header_title: Research Publication
include_header: page_header.html
nav_item: Research
extra_scripts:
  - /assets/js/papers.js
---


<div class="project overview">
  <div id="myBtnContainer">
    <!-- <button class="btn active" onclick="filterSelection('all')"> Show all {{site.data.projects.size}}</button> -->
    <button class="btn active" onclick="filterSelection('vis4ml')"> VIS4ML</button>
    <button class="btn active" onclick="filterSelection('ml4vis')"> ML4VIS</button>
    <button class="btn active" onclick="filterSelection('biomed')"> Visualization for BioMed </button>
    <button class="btn active" onclick="filterSelection('accessible')"> Accessible Visualization</button>
  </div>
  
</div>

{% for project in site.data.projects %}
      {% include project-outline.html project=project %}
{% endfor %}