---
layout: default
title: "Research"
header_title: Research Publication
subtitle: <p>Below is a selection of my publications, which may <b class="black">not always be up to date</b>.
    For the complete publication list and more project details, please visit my <a class='news-link'
        href="https://scholar.google.com/citations?&user=jtSR4hoAAAAJ">google
        scholar</a> and <a class='news-link' href="https://github.com/orgs/Visual-Intelligence-UMN/repositories"> my
        lab's GitHub </a>. </p>
include_header: page_header.html
nav_item: Research
extra_scripts:
- /assets/js/papers.js
---



<div class="project overview">
    <span>You can filter publications by clicking the tags below.</span>
    <div id="myBtnContainer" class="flex flex-center">
        <!-- <button class="btn active" onclick="filterSelection('all')"> Show all {{site.data.projects.size}}</button> -->

        <button class="btn active vis4ml" onclick="filterSelection('vis4ml')"> <i class="fa fa-fw fa-tag"></i>
            VIS4ML</button>
        <button class="btn active ml4vis" onclick="filterSelection('ml4vis')"> <i class="fa fa-fw fa-tag"></i>
            ML4VIS</button>
        <button class="btn active biomed" onclick="filterSelection('biomed')"> <i class="fa fa-fw fa-tag"></i>
            Visualization
            for
            BioMed </button>
        <button class="btn active design" onclick="filterSelection('design')"> <i class="fa fa-fw fa-tag"></i>
            Visualization Design</button>
    </div>

</div>

<div class="clearfix  mb2 mt2">
    Students I supervised are <span class="underline">underlined</span> in the author list.
</div>

<!-- {% capture url_path %}{{site.url}}{{page.url}}{% endcapture %}
<a> {{url_path}} </a> -->

{% for project in site.data.projects %}
{% include project-outline.html project=project %}
{% endfor %}