---
layout: default
title: "Lab Members"
subtitle: "I say things like ‘What if…’ and these amazing people make them happen"
redirect_from: "/pages/lab_members"
header_title: Lab Members
include_header: page_header.html
nav_item: Lab Members
---

<div class="clearfix  mb2">
  {% for member in site.data.lab_members %}
  <div class="col md-col-3 sm-col-4 px2 mt1 mb1">
    <!-- Square image container -->
    <div
      style="width: 200px; height: 200px; overflow: hidden; display: flex; justify-content: center; align-items: center;">
      <img style="width: 100%; height: 100%; object-fit: cover; image-orientation: from-image;"
        data-src="/assets/img/lab_members/{{member.name}}.jpg" alt="{{photo.title}}" class="lazyload">
    </div>
    <div class="px1 pt1" style="line-height: 1rem;">
      <a href="{{member.pageURL}}" target="_blank">{{member.name}}</a>
      <br />
      <span class="mt0 mb0 h6 header-font">{{member.info}}</span>
    </div>
  </div>
  {% endfor %}

</div>

<h2 class="mt0 mb0"> Alumni </h2>
<ul class="header-font mt0 ">
  <li>
    Aniket Nuthalapati, UMN CS&E Master Students
  </li>
  <li>
    Youfu Yan, UMN CS&E Master Students
  </li>
  <li>
    Catherine Bao, University of Utah, REU student
  </li>
  <li>
    Maddy Brown, Carleton College, REU student
  </li>
</ul>

<h2 class="mt0 mb0"> Non-Human Collaborators</h2>
<p class="dark-gray mt0"> Bios lovingly written by their closest human collaborators. </p>
<div class="clearfix mb2">
  {% for member in site.data.pets %}
  <div class="col md-col-3 sm-col-4 px2 mt1 mb1">
    <!-- Square image container -->
    <div
      style="width: 180px; height: 200px; overflow: hidden; display: flex; justify-content: center; align-items: center;">
      <img style="width: 100%; height: 100%; object-fit: cover; image-orientation: from-image;"
        data-src="/assets/img/lab_pets/{{member.image}}" alt="{{photo.title}}" class="lazyload">
    </div>
    <div class="px0 pt1" style="line-height: 1rem;">
      <span class="h5 bold">{{member.name}} </span>
      <br />
      <span class="mt0 mb0 h6 header-font">{{member.info}}</span>
    </div>
  </div>
  {% endfor %}
</div>