<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About Me <a class="link cv" href='assets/pdf/qianwen_cv.pdf'  target="_blank">CV </a></h3>
    <!-- <h5>I am on the job market&#128521 ~ </h5>  -->
    <h5>Feel free to contact through qwangbb@connect.ust.hk</h5>
    <p>
      I am Qianwen Wang (汪倩雯), 
      a 5th-year PhD candidate in the Department of Electronic and Computer Engineering, 
      Hong Kong University of Science and Technology. 
      I am working at the <a class="link about" href="http://vis.cse.ust.hk/groups/xai-vis/" target="_blank">XAI Group</a>，
      <a class="link about" href="http://vis.cse.ust.hk/" target="_blank">HKUST VisLab</a>, 
      under the supervision of 
      <a class="link about" href="http://www.huamin.org/" target="_blank">Prof. Huamin Qu</a>. 
      During my PhD studies, I have interned at Microsoft Research Asia 
      and collaborated with researchers from MIT, Tsinghua Univeristy, Microsoft Research.
    </p>
    <p>
      I am studying <span class="vis keyword">Interactive Data Visualization</span> within the broad context of <span class="hci keyword">Human-Computer Interaction</span> .
      <!-- I envision interactive data visualiation as an effective approach for knowledge communication. -->
      My work strives to facilitate the communication between humans and <span class="ml keyword"> Machine Learning Models </span> through 
      creating interactive visual analysis systems.
    
      Before joining HKUST, 
      I got my B.Eng Degree from Xi'an Jiaotong University in 2015. 
    </p>
    <!-- <p>
      I have a passion for Research, Traveling, Reading and Painting.
    </p>   -->
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>  
</div>
