<div class="clearfix mxn2">
  <div class="col md-col-8 sm-col-12 px2">
    <!-- <h5>I am on the job market&#128521 ~ </h5>  -->
    <!-- <h5>Feel free to contact through qianwen_wang@hms.harvard.edu</h5> -->
    <h3 class="mt0 mb1">About me</h3>
    <p>
      I am Qianwen Wang (汪倩雯), a PostDoc at <a class="link about" href="http://gehlenborglab.org" target="_blank">Gehlenborgy Lab</a>, <a class="link about">Harvard University</a>. 
      I am studying <span class="vis keyword">Interactive Data Visualization</span> within the broad context of <span class="hci keyword">Human-Computer Interaction</span>, 
      envisioning interactive data visualiation as an effective approach for knowledge communication with general users.
      My work strives to facilitate the communication between general users and <span class="ml keyword"> Machine Learning</span> Models through 
      creating interactive visual analysis systems.
      <!-- My work strives to facilitate the communication between general users and complicated algorithms through 
      creating interactive visual analysis systems. -->
    </p>
    <p>
      I obtained my PhD degree in the Department of Electronic and Computer Engineering, 
      Hong Kong University of Science and Technology in 2020.
      <br/>
      I got my B.Eng Degree from Xi'an Jiaotong University in 2015. 
      During my PhD study, I worked at the <a class="link about" href="http://vis.cse.ust.hk/groups/xai-vis/" target="_blank">XAI Group</a>，
      <a class="link about" href="http://vis.cse.ust.hk/" target="_blank">HKUST VisLab</a>, 
      under the supervision of 
      <a class="link about" href="http://www.huamin.org/" target="_blank">Prof. Huamin Qu</a>. 
      <br/>
      I have interned at Microsoft Research Asia 
      and collaborate with researchers from MIT, University of Oxford, Tsinghua Univeristy, Microsoft Research.
    </p>
    <!-- <p>
      I have a passion for Research, Traveling, Reading and Painting.
    </p>   -->
  </div>
  <div class="col md-col-4 sm-col-12 px2 ">
    <h3 class="mt0 mb0">News</h3>
    {% include news.html %}
  </div>  
</div>
