<div class="clearfix border-bottom border-light-gray mt1 mb1  " >
    <div class="mt2" style="float: left; width: 180px; margin-top: 0em; display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;">
    <div>
        <p class="h5 " style="text-align: left; margin-bottom: 0em; "> 
                {{ exp.date }}
        </p> 
         <!-- <a href="{{ include.project.url }}" target="_blank"> -->
            {% capture image_path %}experiences/{{ include.exp.name }}.png{% endcapture %}
            {% include image.html path=image_path alt=include.exp.name style="height:65px; " %}
        <!-- </a> -->
    </div>
    </div>

    <div style="float: left; height: 100px;">
    
    </div>

    <div  style="float: left; display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2em;
    height: 100px;">
        <div style="margin: auto;">
        <p class="h4 mt2" style="margin: auto;">{{ exp.title }}</p>
        {%if exp.awards%}
            {% for award in exp.awards %}
                <p class="h5 header-font">🏆<b> {{ award.title }}</b></p>
            {% endfor %}
        {%endif %}
        </div>
        
    </div>
</div>