<div class="clearfix border-bottom border-light-gray mt1 mb1  " >
    <div class="mt2" style="float: left; width: 180px;">
        <!-- <a href="{{ include.project.url }}" target="_blank"> -->
            {% capture image_path %}experiences/{{ include.exp.name }}.png{% endcapture %}
            {% include image.html path=image_path alt=include.exp.name style="height:100px; " %}
        <!-- </a> -->
        <p class="h5 mt0" style="text-align: center;"> 
                {{ exp.date }}
        </p> 
    </div>

    <div  style="float: left; ">
        <div style="margin: auto;">
        <p class="h4 mt2" style="margin: auto;">{{ exp.title }}</p>
        {%if exp.awards%}
            {% for award in exp.awards %}
                <p class="h5 header-font">🏆<b> {{ award.title }}</b></p>
            {% endfor %}
        {%endif %}
        </div>
        
    </div>
</div>