{% capture project_title_element %}{% if include.project_title_element %}{{ include.project_title_element }}{% else %}h2{% endif %}{% endcapture %}
<div class="mxn2 clearfix mb2 py3{% unless include.exclude_divider %} border-bottom border-light-gray circle-line {% endunless %}">
  <div class="col sm-col-4 px2 mb2">
    <a href="{{ include.project.url }}" target="_blank">
      {% capture image_path %}projects/{{ include.project.image }}{% endcapture %}
      {% include image.html path=image_path alt=include.project.name %}
    </a>
  </div>
  <div class="col sm-col-8 px2">
    <a href="{{ include.project.url }}" target="_blank" name="{{ include.project.name | downcase | replace:' ','-' | remove:',' }}"><{{ project_title_element }} class="mt0 mb0">{{ include.project.name }}</{{ project_title_element }}></a>
    <!-- <a href="{{ include.project.url }}" target="_blank" class="block h6 mb2">{{ include.project.url }}</a> -->
    <p class="left-align">{{ include.project.description }}</p>
    {%if include.project.authors %}
      <p class="left-align">{{ include.project.authors }}</p>
    {% endif %}
    {%if include.project.publish %}
    <p class="left-align"><b>{{ include.project.publish }}</b></p>
    {% endif %}
    <p style="color:#555">
        {%if include.project.video %}
        <span>
            <i class="fa fa-video-camera"></i>
            <a href="{{include.project.video}}">Video</a>
        </span>
        
        {% endif %}
        {%if include.project.pdf %}
        <span>
            <i class="fa fa-file-text"></i>
            <a href="{{include.project.pdf}}">PDF</a>
        </span>
        {% endif %}
        {%if include.project.url %}
        <span>
            <i class="fa fa-arrows-alt"></i>
            <a href="{{include.project.url}}">Details</a>
        </span>
        {% endif %}
      </p>
  </div>
  
</div>